Repository fictadvisor/fictadvisor-web, pull requests merged in 2023-03, with the labels that each got.

#171 feature/alert-popup
  src/components/common/custom-svg/alert-icons/WarningIcon.tsx
  src/components/common/ui/alert-popup/AlertPopup.module.scss
  src/components/common/ui/alert-popup/AlertPopup.tsx
  src/components/common/ui/alert-popup/index.ts
  src/components/common/ui/alert/Alert.module.scss
  src/components/common/ui/alert/Alert.tsx
  src/components/pages/test-pages/alert-popups-page/AlertPopupsPage.tsx
  src/components/pages/test-pages/alert-popups-page/index.ts
  src/components/pages/test-pages/formik-page/FormikPage.tsx
  src/pages/test/alert-popup.tsx
  src/styles/global-styles.scss
Labels: enhancement, ui kit

#158 feature/main
  public/assets/filter.svg
  public/assets/main-page/BannerImage.tsx
  public/assets/main-page/main-background.png
  public/assets/resource.png
  src/components/pages/main-page/MainPage.module.scss
  src/components/pages/main-page/MainPage.tsx
  src/components/pages/main-page/components/ResourceCard.module.scss
  src/components/pages/main-page/components/ResourceCard.tsx
  src/components/pages/main-page/components/index.ts
  src/components/pages/main-page/index.ts
  src/lib/api/student-resources/StudentResourcesAPI.ts
  src/lib/api/student-resources/dto/GetStudentResourcesDTO.ts
  src/pages/index.tsx
Labels: feature, page

#180 Feature/poll
  public/assets/poll-page/frogging_gif_by_kindzaart_ddmpx21.gif
  src/components/common/composite/cards/Cards.module.scss
  src/components/common/composite/cards/PollCard.tsx
  src/components/common/ui/form/slider/Slider.tsx
  src/components/pages/poll-page/PollPage.module.scss
  src/components/pages/poll-page/PollPage.tsx
  src/components/pages/poll-page/components/answers-sheet/AnswersSaved/AnswersSaved.module.scss
  src/components/pages/poll-page/components/answers-sheet/AnswersSaved/AnswersSaved.tsx
  src/components/pages/poll-page/components/answers-sheet/AnswersSaved/index.tsx
  src/components/pages/poll-page/components/answers-sheet/AnswersSheet.module.scss
  src/components/pages/poll-page/components/answers-sheet/AnswersSheet.tsx
  src/components/pages/poll-page/components/answers-sheet/index.ts
  src/components/pages/poll-page/components/poll-form/PollForm.module.scss
  src/components/pages/poll-page/components/poll-form/PollForm.tsx
  src/components/pages/poll-page/components/poll-form/index.ts
  src/components/pages/poll-page/components/questions-list/QuestionsList.module.scss
  src/components/pages/poll-page/components/questions-list/QuestionsList.tsx
  src/components/pages/poll-page/components/questions-list/index.ts
  src/components/pages/poll-page/index.ts
  src/components/pages/test/cards-page/CardsPage.tsx
  src/lib/api/poll/PollAPI.ts
  src/lib/api/poll/dto/CreateTeacherGradeBody.ts
  src/lib/api/poll/dto/GetTeacherQuestionsDTO.ts
  src/pages/poll/[disciplineTeacherId].tsx
Labels: page

#192 fix/page_buttons
  .husky/pre-commit
  src/components/pages/404-page/NotFoundPage.module.scss
  src/components/pages/404-page/NotFoundPage.tsx
  src/components/pages/main-page/MainPage.tsx
Labels: bug, page

#194 feature/no_group_page_style
  src/components/pages/account-page/components/general-tab/GeneralTab.module.scss
  src/components/pages/account-page/components/group-tab/components/no-group-block/NoGroupBlock.module.scss
  src/components/pages/account-page/components/group-tab/components/no-group-block/NoGroupBlock.tsx
  src/components/pages/account-page/components/security-tab/SecurityTab.module.scss
  src/components/pages/account-page/components/security-tab/SecurityTab.tsx
Labels: feature, page

#204 fix/poll-page
  src/components/common/composite/cards/Cards.module.scss
  src/components/common/composite/cards/PollCard.tsx
  src/components/pages/poll-page/PollPage.module.scss
  src/components/pages/poll-page/components/answers-sheet/AnswersSheet.module.scss
  src/components/pages/poll-page/components/answers-sheet/AnswersSheet.tsx
  src/components/pages/poll-page/components/poll-form/PollForm.module.scss
  src/components/pages/poll-page/components/questions-list/QuestionsList.module.scss
Labels: enhancement, page

#209 fix/page-fixes
  src/components/pages/account-page/components/group-tab/components/no-group-block/NoGroupBlock.module.scss
  src/components/pages/account-page/components/group-tab/components/no-group-block/utils/index.ts
  src/components/pages/password-recovery/create-password-page/components/create-password-form/CreatePasswordForm.tsx
  src/components/pages/password-recovery/create-password-page/components/create-password-form/constants/index.ts
  src/components/pages/password-recovery/create-password-page/components/create-password-form/types/index.ts
  src/components/pages/password-recovery/email-confirmation-page/PasswordResetEmailConfirmationPage.tsx
Labels: bug, page

#213 fix/main-page
  src/components/pages/main-page/MainPage.module.scss
  src/components/pages/main-page/MainPage.tsx
Labels: bug, enhancement, page

#214 fix/account-page
  src/components/pages/account-page/components/group-tab/components/table/mobile-student-table/components/mobile-student-table-buttons/MobileStudentTableButtons.tsx
  src/components/pages/account-page/components/group-tab/components/table/student-table/components/EditingColumn.tsx
Labels: bug, enhancement, page

#216 fix/privacy-page
  src/components/common/ui/form/slider/Slider.tsx
  src/components/pages/poll-page/components/answers-sheet/AnswersSaved/AnswersSaved.module.scss
  src/components/pages/poll-page/components/answers-sheet/AnswersSheet.module.scss
  src/components/pages/privacy-page/PrivacyPage.module.scss
  src/components/pages/privacy-page/PrivacyPage.tsx
Labels: bug, ui kit, page

#222 fix/account-page
  src/components/pages/account-page/components/group-tab/components/table/mobile-request-table/MobileRequestTable.module.scss
  src/components/pages/account-page/components/group-tab/components/table/mobile-request-table/MobileRequestTable.tsx
  src/components/pages/account-page/components/group-tab/components/table/mobile-student-table/MobileStudentTable.module.scss
  src/components/pages/account-page/components/group-tab/components/table/mobile-student-table/MobileStudentTable.tsx
  src/components/pages/account-page/components/group-tab/components/table/request-table/RequestTable.module.scss
  src/components/pages/account-page/components/group-tab/components/table/request-table/RequestTable.tsx
  src/components/pages/account-page/components/group-tab/components/table/student-table/StudentTable.module.scss
  src/components/pages/account-page/components/group-tab/components/table/student-table/StudentTable.tsx
Labels: bug, page

#226 fix/some-pages
  src/components/common/layout/header/Header.module.scss
  src/components/pages/account-page/components/group-tab/components/table/mobile-student-table/components/mobile-student-table-buttons/MobileStudentTableButtons.module.scss
  src/components/pages/poll-page/components/answers-sheet/AnswersSheet.module.scss
Labels: bug, page

#255 fix/text-poll-buttons
  src/components/pages/personal-teacher-page/personal-teacher-tabs/PersonalTeacherTabs.tsx
  src/components/pages/personal-teacher-subject-page/personal-teacher-subject-tabs/PersonalTeacherSubjectTabs.tsx
Labels: waiting for review

#256 fix/textarea-scroll
  src/components/common/ui/form/text-area/TextArea.module.scss
  src/components/pages/account-page/components/group-tab/components/numbered-text-area/NumberedTextArea.module.scss
  src/components/pages/account-page/components/group-tab/components/text-area-popup/TextAreaPopup.tsx
Labels: ready for prod

#265 feature/mui theme
  .babelrc
  .husky/pre-commit
  package.json
  src/components/pages/mui-test-page/MUITestPage.styles.ts
  src/components/pages/mui-test-page/MUITestPage.tsx
  src/components/pages/mui-test-page/index.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/test/mui.tsx
  src/styles/theme/constants/breakpoints/breakpoints.ts
  src/styles/theme/constants/breakpoints/index.ts
  src/styles/theme/constants/breakpoints/interfaces.ts
  src/styles/theme/constants/pallete/index.ts
  src/styles/theme/constants/pallete/interfaces.ts
  src/styles/theme/constants/pallete/palette.ts
  src/styles/theme/constants/typography/index.ts
  src/styles/theme/constants/typography/interfaces.ts
  src/styles/theme/constants/typography/typography.ts
  src/styles/theme/index.ts
  src/styles/theme/theme.ts
  yarn.lock
Labels: ready for prod
